.echarts {
  width: 100%;
  height: 100%;
}

.el-card__header {
  border-bottom: none;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-ws {
  display: flex;
  justify-content: center;
}

.flex-hc {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1
}